.current_weather {
    width: 60vw;
    background-color: rgba(252, 255, 255, 0.8);
    margin-top: 10px;
    padding: 0px 5px 5px 5px;
    border-radius: 20px;
    text-align: start;
}

.current_weather_optional_text {
    font-size: 20px;
}

.error_image {
    width: 20%;
    height: 50%;
}

@media (max-width: 797px) { 
    .current_weather {
        width: 80vw; 
    }
}

@media (max-width: 545px) { 
    .current_weather_main {
        width: 80vw;
        display: flex;
        flex-direction: column; 
    }

    .current_weather_optional {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .current_weather_optional_text  {
        font-size: 13px; 
    }
}

@media (max-width: 650px) { 
    .current_weather_optional_text  {
        font-size: 16px;
    }
}
