.day_weather {
    width: 60vw;
    background-color: rgba(252, 255, 255, 0.7);
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0px 5px 5px 5px;
    border-radius: 20px;
    text-align: start;
}

.forecast_card {
    transition: 0.2s;
    cursor: pointer;
}

.active {
    background-color:rgb(255, 209, 168);
}


.forecast_card:hover {
    background-color:silver;
    transition: 0.2s;
}
.error_image {
    width: 20%;
    height: 60%;
}

@media (max-width: 797px) { 
    .day_weather {
        width: 80vw;
        flex-direction: column;
        text-align: center;
    }
 }
