.App {
    background-image: url('https://www.novascotia.com/sites/default/files/2022-09/Rainbow_Skyline-Trail-1920x1080.jpg');
    background-color: rgba(161, 152, 152, 0.945);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

@media (max-width: 545px) { 
  .App {
    height: auto;
  }
}
