.App {
    background-image: url('./images/background.jpg');
    background-color: rgba(161, 152, 152, 0.945);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    text-align: center;
}

@media (max-width: 545px) { 
    .current_weather_main {
        width: 80vw;
        display: flex;
        flex-direction: column; 
    }

    .current_weather_optional {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .current_weather_optional_text  {
        font-size: 13px; 
    }
}
